* {
margin: 0;

}


body {
background-image: linear-gradient(to right, rgb(17, 185, 101), rgb(72, 255, 163));
}

.container-fluid{
padding: 0px;
}






.nave{
display: flex;
position:relative;
top: 0;
left: 0;
width: 100%;
margin: 0;

height: 120px;
background-image: linear-gradient(to right, rgb(56, 33, 188), rgb(40, 40, 102));

box-shadow: 0 7px 7px rgba(46, 46, 46, 0.2);

justify-content:center;
align-items:center;
}




.nave h1{
text-align: center;
font-size: 40px;
color:greenyellow ;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;

}




.quad {
border-radius: 15px;
background-image: linear-gradient(to left, rgba(127, 162, 175, 0.4), rgba(168, 176, 180, 0.5));

box-shadow: 0 7px 7px rgba(46, 46, 46, 0.2);

margin: 50px;
padding: 12px;


border: 3px outset rgba(180, 180, 180, 0.3);

}

.quad:hover{
background-image: linear-gradient(to left, rgba(132, 197, 221, 0.4), rgba(168, 176, 180, 0.5));

box-shadow: 0 7px 7px rgba(37, 37, 37, 0.2);


}






.quad h1 {
font-size: 40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: azure;

}


.quad p {
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: azure;

}





.bck{
margin: 0;
background-image: linear-gradient(to right, rgb(8, 49, 216), rgb(40, 47, 102));

padding: 10px;
box-shadow: 0 7px 7px rgba(46, 46, 46, 0.2);


}



.imgr {
border-radius: 10px;
max-width: 100%;
height: auto;
}
